<style debug="button">
    div {
        width: 100%;
        border: 1px solid "@div_color@";
    }
    button {
        width: 100%;
        background-color: "@btn_color@";
        color: "@txt_color@";
    }
</style>

<div>
    <button id="{id}" type="button">{label}</button>
</div>

<script debug="button_script">
    let elm = document.getElementById("$id$");
    elm.addEventListener('click', () => {
        alert("button with id: $id$ was pressed");
        console.log("the pressed label was");
    });
</script>